In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("pyspark-testing").getOrCreate()

In [17]:
filepath = "./data/books3000.csv"
df = spark.read.options(
    header='True',
    inferSchema='True',
    delimiter=","
).csv(filepath)

In [14]:
type(df)

pyspark.sql.dataframe.DataFrame

In [18]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- author: string (nullable = true)
 |-- title: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- small_image_url: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- books_count: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: double (nullable = true)
 |-- original_publication_year: integer (nullable = true)
 |-- original_title: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- average_rating: double (nullable = true)

In [22]:
df.show(n=5, truncate=False, vertical=True)

-RECORD 0------------------------------------------------------------------------------------------------
 id                        | 51
 author                    | Cassandra Clare
 title                     | City of Bones (The Mortal Instruments, #1)
 image_url                 | https://images.gr-assets.com/books/1432730315m/256683.jpg
 small_image_url           | https://images.gr-assets.com/books/1432730315s/256683.jpg
 price                     | 1461
 books_count               | 178
 isbn                      | 1416914285
 isbn13                    | 9.78142E12
 original_publication_year | 2007
 original_title            | City of Bones
 language_code             | eng
 average_rating            | 4.12
-RECORD 1------------------------------------------------------------------------------------------------
 id                        | 52
 author                    | Stephenie Meyer
 title                     | Eclipse (Twilight, #3)
 image_url                 | https://images.gr-assets.com/books/1361038355m/428263.jpg
 small_image_url           | https://images.gr-assets.com/books/1361038355s/428263.jpg
 price                     | 2335
 books_count               | 185
 isbn                      | 316160202
 isbn13                    | 9.78032E12
 original_publication_year | 2007
 original_title            | Eclipse
 language_code             | en-US
 average_rating            | 3.69
-RECORD 2------------------------------------------------------------------------------------------------
 id                        | 53
 author                    | Christopher Paolini
 title                     | Eragon (The Inheritance Cycle, #1)
 image_url                 | https://images.gr-assets.com/books/1366212852m/113436.jpg
 small_image_url           | https://images.gr-assets.com/books/1366212852s/113436.jpg
 price                     | 2098
 books_count               | 217
 isbn                      | 375826696
 isbn13                    | 9.78038E12
 original_publication_year | 2002
 original_title            | Eragon
 language_code             | en-US
 average_rating            | 3.86
-RECORD 3------------------------------------------------------------------------------------------------
 id                        | 54
 author                    | Douglas Adams
 title                     | The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)
 image_url                 | https://images.gr-assets.com/books/1327656754m/11.jpg
 small_image_url           | https://images.gr-assets.com/books/1327656754s/11.jpg
 price                     | 3074
 books_count               | 257
 isbn                      | 345391802
 isbn13                    | 9.78035E12
 original_publication_year | 1979
 original_title            | The Hitchhiker's Guide to the Galaxy
 language_code             | en-US
 average_rating            | 4.2
-RECORD 4------------------------------------------------------------------------------------------------
 id                        | 55
 author                    | Aldous Huxley
 title                     | Brave New World
 image_url                 | https://images.gr-assets.com/books/1487389574m/5129.jpg
 small_image_url           | https://images.gr-assets.com/books/1487389574s/5129.jpg
 price                     | 2891
 books_count               | 515
 isbn                      | 60929871
 isbn13                    | 9.78006E12
 original_publication_year | 1932
 original_title            | Brave New World
 language_code             | eng
 average_rating            | 3.97
only showing top 5 rows

In [24]:
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show(truncate=False, vertical=True)

-RECORD 0------------------------
 id                        | 0
 author                    | 0
 title                     | 0
 image_url                 | 0
 small_image_url           | 0
 price                     | 0
 books_count               | 0
 isbn                      | 0
 isbn13                    | 0
 original_publication_year | 0
 original_title            | 0
 language_code             | 0
 average_rating            | 0

In [26]:
df.select(count("id")).show()

+---------+
|count(id)|
+---------+
|     2999|
+---------+

In [32]:
df.select(when(isnan('price').alias("hello!"), True)).show()

+------------------------------------------------+
|CASE WHEN isnan(price) AS `hello!` THEN true END|
+------------------------------------------------+
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
|                                            null|
+------------------------------------------------+
only showing top 20 rows

In [33]:
rating_metrics = {
    "high" = 5*0.75,
    "average" = 5*0.5,
    "low" = 5*0.25

}

SyntaxError: invalid syntax (<ipython-input-33-4594d9956205>, line 2)

In [ ]:
# average_rating
# 
# high rating